// Colors
$colors: (
  // Main Colors
        yellow: (
                '100': #F9EEE2,
                '500': #FFCC6A,
        ),
        purple: (
                '100': #DBD1FC,
                '500': #7551DC,
        ),
  // Other
        'background': #F6F5F6,
        'white': #FFFFFF,
        'black': #121212,
);